@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font1: "Montserrat", sans-serif;
  --font2: "Poppins", sans-serif;
  --background-color: #252b42;
  --button-color: #24a5f0;
  --image-bg-color: #abebd1;
  --icon-bg-color: #47eda2;
}
.wrapper {
  /* border: 3px solid red; */
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

/* header */
.wrapper .header {
  /* border: 2px solid green; */
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .nav {
  /* border: 2px solid green; */
  height: 12vh;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .brand {
  font-family: var(--font1);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.7rem;
  color: white;
}
.nav .nav-link {
  /* border: 1px solid red; */
  display: flex;
  gap: 30px;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 1rem;
}
.nav .nav-link a {
  text-decoration: none;
  color: white;
}
.nav .btn {
  /* border: 1px solid red; */
  display: flex;
  gap: 30px;
  justify-content: space-between;
  font-family: var(--font1);
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.nav .btn .fa-heart,
.nav .btn .fa-cart-shopping {
  color: white;
  font-size: 1.5rem;
}
.nav .btn span {
  position: absolute;
  right: -12px;
  top: -15px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(255, 0, 0, 0.6);
  border-radius: 5px;
  padding: 2px 6px;
}
/* home content */
.wrapper .home-content {
  /* border: 2px solid red; */
  height: 88vh;
  width: 100%;
  display: flex;
}
.home-content .left-home-content {
  /* border: 2px solid blue; */
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.home-content .left-home-content .content {
  /* border: 5px solid yellow; */
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-content .left-home-content .content .content-join {
  color: var(--button-color);
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--font1);
}
.left-home-content .content h1 {
  /* border: 1px solid; */
  font-size: 3.5rem;
  width: 70%;
  font-family: var(--font2);
  font-weight: 600;
  color: white;
}
.left-home-content .content .para {
  /* border: 1px solid; */
  width: 80%;
  font-family: var(--font2);
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.left-home-content .content .button {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
}
.left-home-content .content .button .cart,
.left-home-content .content .button .cart1 {
  border: none;
  background: none;
  font-style: var(--font2);
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--button-color);
  color: white;
}

/* right side home content */
.home-content .right-home-content {
  /* border: 2px solid blue; */
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-content .right-home-content .bg-box {
  /* border: 2px solid red; */
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: relative;
}
.home-content .right-home-content .bg-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
